<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block title %}
        <title>Git Usage - Home Page</title>
    {% endblock %}

    <!--Add Css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <!--Add Js-->
    {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Start: Data Tables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
    <!--End: Data Tables-->
     <style type="text/css">
     th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 1100px;
        margin: 0 auto;
    }
    </style>
    <script type="text/javascript">
    $(document).ready(function() {
    $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var name = $('#name').val();

        if (data[0].indexOf(name)>=0){
            return true;
        }
        return false;
    }
);


    var table = $('#git_users').DataTable( {
        scrollY:        "350px",
        scrollX:        true,
        scrollCollapse: true,
        paging:         false,
        fixedColumns:   {
            leftColumns: 1,
        }
    } );
    $('#name').keyup( function() {
        table.draw();
    } );
} );
    </script>
    {% endblock %}
    {% endblock %}
</head>
<body>
{% block main_content %}
<center>
<div class="container" style="align:center;">
  <h2>GitUsage</h2>
    <div>
        <a href="{{ git_auth_url }}">Click here </a> to authorize our App for more github API features!
        <h3> Search Github User Data!</h3>
        <form action="." method="post">{% csrf_token %}
            <p>Search: &nbsp;
                <input type="textbox" name="search_pattern" class="user_search" />
                <input type="submit" value="Submit" />
            </p>
        </form>
    </div>
  <p></p>
</div></center>
<div class="container" style="width:80%">
    <p>Login Name:
    <input type="text" id="name" name="name"> </p>
    <table id="git_users", class="table table-striped">
    <thead>
      <tr>
        <th>Login</th>
        <th>Node Id</th>
        <th>Avathar URL</th>
        <th>Gravatar ID</th>
        <th>Git URL</th>
          <th>HTML URL</th>
          <th>Followers URL</th>
          <th>Following URL</th>
          <th>Gists URL</th>
          <th>Starred URL</th>
          <th>Subscription URL</th>
          <th>Organizations URL</th>
          <th>Repos URL</th>
          <th>Events URL</th>
          <th>Received Events URL</th>
          <th>Site Admin</th>
          <th>Score</th>
          <th>Created</th>
      </tr>
    </thead>
    <tbody>

    {% for user in users %}
      <tr>
        <td>{{ user.login }}</td>
        <td>{{ user.node_id }}</td>
        <td>{{ user.avatar_url }}</td>
        <td>{{ user.gravatar_id }}</td>
          <td>{{ user.git_url }}</td>
          <td>{{ user.html_url }}</td>
          <th>{{ user.followers_url }}</th>
          <th>{{ user.following_url }}</th>
          <th>{{ user.gists_url }}</th>
          <th>{{ user.starred_url }}</th>
          <th>{{ user.subscriptions_url }}</th>
          <th>{{ user.organizations_url }}</th>
          <th>{{ user.repos_url }}</th>
          <th>{{ user.events_url }}</th>
          <th>{{ user.received_events_url }}</th>
          <th>{{ user.score }}</th>
          <th>{{ user.is_site_admin }}</th>
          <th>{{ user.created }}</th>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</body>
{% endblock %}
</html>